extends ../layout

block content
  h2= title

  div.uk-margin
    h4 
      span.uk-badge #{context.length}
      |  Itens

    div
      table.uk-table.uk-table-striped
        thead
          tr
            th Nome
            th Última Pesquisa
            th Menor Valor
            th Menor Parcela
            th MVH
            th MPH
        tbody
          each item in context
            tr
              td
                a(href=`/ml/${item.id}`)= item.name
              td= `${item.lastHistory ? item.lastHistory.at : "-"}` 
              td(class=`${item.lastHistory && item.lastHistory.lower_price <= item.lowerHistory.lower_price && "uk-alert-success"}`)
                = `${item.lastHistory ? item.lastHistory.lower_price : "-"}`
              td(class=`${item.lastHistory && item.lastHistory.lower_parcel <= item.lowerHistory.lower_parcel && "uk-alert-success"}`)
                = `${item.lastHistory ? item.lastHistory.installments + "x " + item.lastHistory.lower_parcel : "-"}`
              td= `${item.lastHistory ? item.lowerHistory.lower_price : "-"}`
              td= `${item.lastHistory ? item.lowerHistory.lower_parcel : "-"}`
        